/*!
 * Hoja de estilos personalizada
 */

.img_map{
	width: 100%;
  	height: 40rem;
  	box-shadow: inset 0px 0px 2rem 2rem #F0F8FF;
	background-image: url("../../../img/mapa.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.navbar-default{
	margin-bottom: 0px;;
	border-bottom-width: 0px;
}